# Node
node_modules/
client/node_modules/
server/node_modules/
client/dist/

# Python
ml-service/venv/
ml-service/__pycache__/
ml-service/**/__pycache__/
*.pyc

# Env files
.env
client/.env
server/.env
ml-service/.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*